@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 55, 65, 81;
  --background-start-rgb: 243, 244, 246;
  --background-mid-rgb: 222, 235, 255; /* Powder blue: 213.3 96.9% 87.3% */
  --background-end-rgb: 229, 231, 235;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-mid-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(79, 70, 229, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.glass-card:hover {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(79, 70, 229, 0.15);
}
